---
title: Article
---
{% extends '../../layouts/default.html' %}
{% block content %}
<div class="container">
    <div class="container--inner">
        <div class="col col--8 col--sm-full section-padded">
            <header class="header-section padded-sm">
                <h1 class="heading-section">Page title</h1>
            </header>
            <section class="editor padded-sm push--bottom">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/222316663&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/222316663&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                <figure>
                    <img src="http://placehold.it/900x250" alt="">
                    <figcaption>
                        Full width image in figure with caption and <a href="#">link</a>
                    </figcaption>
                </figure>
            </section>
            <section class="padded-sm push--bottom">
                <h1>Tabbed Table</h1>
                <div class="js-tabbed-table">
                    <nav class="tabbed-table-nav" role="tablist">
                        <a class="js-tabbed-table-tab tabbed-table-nav-link current" href="#target-1">Table 1</a>
                        <a class="js-tabbed-table-tab tabbed-table-nav-link" href="#target-2">Table 2</a>
                        <a class="js-tabbed-table-tab tabbed-table-nav-link" href="#target-3">Table 3</a>
                        <a class="js-tabbed-table-tab tabbed-table-nav-link" href="#target-4">Table 4</a>
                        <a class="js-tabbed-table-tab tabbed-table-nav-link" href="#target-5">Table 5</a>
                        <a class="js-tabbed-table-tab tabbed-table-nav-link" href="#target-6">Table 6</a>
                        <a class="js-tabbed-table-tab tabbed-table-nav-link" href="#target-7">Table 7</a>
                    </nav>
                    <section id="target-1" aria-hidden="false" class="tabbed-table-target current">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 1</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section id="target-2" class="tabbed-table-target">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 2</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section id="target-3" class="tabbed-table-target">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 3</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section id="target-4" class="tabbed-table-target">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 4</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section id="target-5" class="tabbed-table-target">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 5</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section id="target-6" class="tabbed-table-target">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 6</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section id="target-7" class="tabbed-table-target">
                        <h1 class="tabbed-table-heading js-tabbed-table-title">Table 7</h1>
                        <div class="tabbed-table-wrap">
                            <table class="tabbed-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="list-documents-item--pdf" href="#">Annual Report and Accounts 2014</a></td>
                                        <td><a class="list-documents-item--pdf" href="#">Download PDF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </section>
    </div>
        </div>
        <div class="col col--4 col--sm-full">
            {% include '../../partials/block-factoid.html' %}
            {% include '../../partials/block-signpost-manda.html' %}
            {% include '../../partials/block-signpost-board.html' %}
            {% include '../../partials/block-signpost-executive.html' %}
            {% include '../../partials/block-signpost-governance.html' %}
        </div>
    </div>
</div>
{% include '../../partials/block-prefooter-about.html' %}
{% endblock %}